# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# frontend code
node_modules/
dist/

git config --global user.name "darkcoder404"
git config --global user.email "subhamdikshit007@gmail.com"